
@{
    ViewBag.Title = "Ficha Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="informacoes">
    <h1>@Model.Nome</h1>
    <div class="personagem">
        <img class="img-descricao" src="@Model.Imagem"/>
        <div class="dados">
            <p>
                <strong>
                    Nascimento:
                </strong> 
                @{ 
                    var meses = new List<string> { "janeiro", "fevereiro", "março", "abril", "maio", "junho", "julho", "agosto", "setembro", "outubro", "novembro", "dezembro" };
                }
                @Model.Nascimento.Day de @meses[@Model.Nascimento.Month - 1] de @Model.Nascimento.Year.
            </p>
            <p>
                <strong>
                    Altura:
                </strong>  
               @(Model.Altura) cm.
            </p>
            <p>
                <strong>
                    Peso:
                </strong>  
               @(Model.Peso) kg.
            </p>
            <p>
                <strong>
                    Origem:
                </strong>  
                @Model.Origem.
            </p>
            <p>
                <strong>
                    Golpes especiais famosos:
                </strong>  
                @(Model.GolpesEspeciais).
            </p>
            <p>
                <strong>
                    Personagem oculto:
                </strong>
                @if (Model.PersonagemOculto)
                {
                    <text>Sim.</text>
                }
                else
                {
                    <text>Não.</text>
                }
            </p>
        </div>
    </div>
</div>
